.recorded-list
    min-width 200px

.swf-object
    width 100%

.player
    display flex
    align-items center

    &__col
        flex-flow row nowrap

        &--recorded-list
            flex 1
            padding-right 20px

.log
    height 36em
    line-height 1.8em
